body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#profile-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#profile-picture {
    border-radius: 50%;
    max-width: 1000px;
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 15px;
}

#work-experience {
    text-align: left;
}

.experience-item {
    margin-bottom: 10px;
}



@media only screen and (max-width: 600px) {
    #profile-container {
        width: 100%;
        background-color: aqua;
    }
}


@media only screen and (min-width: 601px) and (max-width: 992px) {
    #profile-container {
        width: 80%;
        background-color: aquamarine;
    }
}


@media only screen and (min-width: 993px) {
    #profile-container {
        width: 60%;
        background-color: azure;
    }
}

